
<div class="search_block">
    <form>
        <span>Пошук</span>
        <input type="text" name="search">
    </form>
</div>
<!--- end search block --->
<!--- start top idea block --->
<div class="top_idea_block HomeCtrl" ng-init="me.load()">
    <div class="shell">
        <div class="title">Найкращі ідеї за останній час</div>
        <!--- start one idea block --->
        <div ng-repeat="idea in me.ideas">
        <div class="one_block">
            <img src="img/idea.png">
            <div class="shell">
                <h1><a href="#/idea/{{idea.id}}">{{idea.name}}</a></h1>
                <div class="description">{{idea.description}}</div>
                <div class="rating">12</div>
            </div>
        </div>
        </div>
        <!--- end one idea block --->
        <div class="more"><div class="button"><a href="#">більше ідей</a></div></div>
    </div>
</div>
<!--- end top idea block --->
<!--- start top project block --->
<div class="top_idea_block top_project_block">
    <div class="shell">
        <div class="title">Найкращі проекти за останній час</div>
        <!--- start one project block --->
        <div class="one_block">
            <img src="img/project.png">
            <div class="shell">
                <h1>Назва ідеї</h1>
                <div class="description">Короткий опис ідеї</div>
                <div class="rating">12</div>
            </div>
        </div>
        <!--- end one project block --->
        <!--- start one project block --->
        <div class="one_block">
            <img src="img/project.png">
            <div class="shell">
                <h1>Назва ідеї</h1>
                <div class="description">Короткий опис ідеї</div>
                <div class="rating">32</div>
            </div>
        </div>
        <!--- end one project block --->
        <!--- start one project block --->
        <div class="one_block">
            <img src="img/project.png">
            <div class="shell">
                <h1>Назва ідеї</h1>
                <div class="description">Короткий опис ідеї</div>
                <div class="rating">28</div>
            </div>
        </div>
        <!--- end one project block --->
        <!--- start one project block --->
        <div class="one_block">
            <img src="img/project.png">
            <div class="shell">
                <h1>Назва проекту</h1>
                <div class="description">Короткий опис проекту</div>
                <div class="rating">18</div>
            </div>
        </div>
        <!--- end one project block --->
        <div class="more"><div class="button"><a href="#">більше проектів</a></div></div>
    </div>
</div>
<!--- end top project block --->
<!--- start comment block --->
<div class="comment_block">
    <!--- start one comment block --->
    <div class="one_comment_block">
        <div class="image"></div>
        <div class="name"></div>
        <div class="comment"></div>
    </div>
    <!--- end one comment block --->
</div>
<!--- end comment block --->
