<div class="header_block">
    <img src="img/hbg.png" class="bg_image">
    <!--- start shell --->
    <div class="shell">
        <!--- start header menu --->
        <div class="header_menu">
            <a href="/"><div class="logo_div left_div"></div></a>
            <!--- start nav div --->
            <div class="nav_div">
                <ul>
                    <li><a href="#">Головна</a></li>
                    <li>Ресурсы
                        <ul>
                            <li><a href="#">Ідеї</a></li>
                            <li><a href="#">Проекти</a></li>
                            <li><a href="#">Учасники</a></li>
                            <li><a href="#">Кейси</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Контакти</a></li>
                    <li><a href="#">Вхід</a></li>
                </ul>
            </div>
            <!--- end nav div --->
        </div>
        <!--- end header menu --->
        <!--- start info header block --->
        <div class="info_block">
            <h1>Наш проект дає життя цікавим соціальним ідеям</h1>
            <div class="description">Якщо у Вас є цкава ідея, як найкраще організувати або поліпшити простір навколо себе, запропонуйте свою ідею, і якщо вона набере багато голосів, ми допоможемо її реалізувати</div>
            <div class="button_idea"><a href="#newidea">+додати ідею</a></div>
        </div>
        <!--- end info header block --->
    </div>
</div>
<div class="search_block">
    <form>
        <span>Пошук</span>
        <input type="text" name="search">
    </form>
</div>
<!--- end search block --->
<!--- start top idea block --->
<div class="top_idea_block HomeCtrl" ng-init="me.load()">
    <div class="shell">
        <div class="title">Найкращі ідеї за останній час</div>
        <!--- start one idea block --->
        <div ng-repeat="idea in me.ideas">
        <div class="one_block">
            <img src="img/idea.png">
            <div class="shell">
                <h1><a href="#/idea/{{idea.id}}">{{idea.name}}</a></h1>
                <div class="description">{{idea.description}}</div>
                <div class="rating">12</div>
            </div>
        </div>
        </div>
        <!--- end one idea block --->
        <div class="more"><div class="button"><a href="#">більше ідей</a></div></div>
    </div>
</div>
<!--- end top idea block --->
<!--- start top project block --->
<div class="top_idea_block top_project_block">
    <div class="shell">
        <div class="title">Найкращі проекти за останній час</div>
        <!--- start one project block --->
        <div class="one_block">
            <img src="img/project.png">
            <div class="shell">
                <h1>Назва ідеї</h1>
                <div class="description">Короткий опис ідеї</div>
                <div class="rating">12</div>
            </div>
        </div>
        <!--- end one project block --->
        <!--- start one project block --->
        <div class="one_block">
            <img src="img/project.png">
            <div class="shell">
                <h1>Назва ідеї</h1>
                <div class="description">Короткий опис ідеї</div>
                <div class="rating">32</div>
            </div>
        </div>
        <!--- end one project block --->
        <!--- start one project block --->
        <div class="one_block">
            <img src="img/project.png">
            <div class="shell">
                <h1>Назва ідеї</h1>
                <div class="description">Короткий опис ідеї</div>
                <div class="rating">28</div>
            </div>
        </div>
        <!--- end one project block --->
        <!--- start one project block --->
        <div class="one_block">
            <img src="img/project.png">
            <div class="shell">
                <h1>Назва проекту</h1>
                <div class="description">Короткий опис проекту</div>
                <div class="rating">18</div>
            </div>
        </div>
        <!--- end one project block --->
        <div class="more"><div class="button"><a href="#">більше проектів</a></div></div>
    </div>
</div>
<!--- end top project block --->
<!--- start comment block --->
<div class="comment_block">
    <!--- start one comment block --->
    <div class="one_comment_block">
        <div class="image"></div>
        <div class="name"></div>
        <div class="comment"></div>
    </div>
    <!--- end one comment block --->
</div>
<!--- end comment block --->
<div class="footer_block">
    <div class="shell">
        <div class="logo_div"><img src="img/logo.png"></div>
        <hr>
        <div class="social">
            <a href="#google+"><img src="img/social-g.png"></a>
            <a href="#facebook"><img src="img/social-f.png"></a>
            <a href="#twitter"><img src="img/social-t.png"></a>
            <a href="#rss"><img src="img/social-r.png"></a>
        </div>
    </div>
</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
-->